html, body {
  margin: 0;
  overflow: hidden;
  padding: 0;
}

.controls {
  padding: 20px;
  position: absolute;
  right: 0;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#scramble-overlay {
  background-color: #CCCCCC;
  bottom: 0;
  display: none;
  left: 0;
  opacity: .6;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
}

#scramble-overlay p {
  padding-top: 32px;
}

#debug-overlay {
  background-color: lightgray;
  border: 1px solid gray;
  bottom: 10px;
  display: none;
  opacity: 0.7;
  overflow-y: auto;
  position: absolute;
  right: 10px;
  top: 50px;
  width: 300px;
}

#debug-overlay:before {
  background-color: lightgray;
  border-bottom: 1px solid gray;
  content: 'Rotation debug';
  display: block;
  font-weight: 500;
  padding: 5px 0;
  text-align: center;
}

#debug-overlay p {
  margin: 10px 5px;
}
